{% extends 'components/layout.html' %}

{% block title %}{{ username }} Profile{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
        <h1>Update User Info:</h1>
        <p> Only input fields you intend to change. </p>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <fieldset id="newusername-field">
                    {{ form.newusername.label }}
                    {{ form.newusername(class="form-control", placeholder="New Username...") }}
                </fieldset>
                <fieldset id="newpassword-field">
                    {{ form.newpassword.label }}
                    {{ form.newpassword(class="form-control", placeholder="New Password...") }}
                </fieldset>
                <fieldset id="confirm_newpassword-field">
                    {{ form.confirm_newpassword.label }}
                    {{ form.confirm_newpassword(class="form-control", placeholder="Confirm New Password...") }}
                </fieldset>
                <fieldset id="oldpassword-field">
                    {{ form.oldpassword.label }}
                    {{ form.oldpassword(class="form-control", placeholder="Current Password...") }}
                </fieldset>
                <br>
                {{ form.submit(class="btn btn-info btn-block") }}
            </div>
        </form>
    </div>
</div>
{% endblock content %}